 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Войдите или Зарегестрируйтесь</title>
 </head>
 <body>
  <form action="autification" method="post">
    <button  >Войти</button>
  </form>

    <form action="registo" method="post">
    <button  >Зарегестрироваться</button>
  </form>
 
 

 </body>
 </html>