<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Зарегестрируйтесь</title>
</head>
<body>
 
    <h2>Регестрация</h2>
    <form action="/regist" method="post" >
         <p>Логин<input type="text" name="Login"></p>
         <p>Пароль<input type="text" name="Paswort"></p>

        <input type="submit" value="Зарегестрироваться">
    </form>
 
</body>
</html>